page{
    height: 100%;
}

.cates{
    height: 100%;
    .cates_container{
        // less使用calc时注意
        height: ~'calc( 100vh - 90rpx )';
        display: flex;
        .left_menu{
            flex: 2;
            .menu_item{
                height: 80rpx;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30rpx;
            }
            .active{
                color: var(--themeColor);
                border-left: 5rpx solid currentColor;    // currentColor颜色同字体颜色
            }
        }
        .right_content{
            flex: 5;
            .goods_group{
                .goods_title{
                    height: 80rpx;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .delimiter{
                        color: #ccc;
                        padding: 0 10rpx;
                    }
                    .title{}
                }
                .goods_list{
                    display: flex;
                    flex-wrap: wrap;    // 允许自动换行
                    navigator{
                        width: 33.33%;
                        text-align: center;   // 文字水平居中
                        image{
                            width: 50%;
                        }
                        .goods_name{}
                    }
                }
            }
        }
    }
}